[submodule "src/drone_path_planning"]
	path = src/drone_path_planning
	url = https://github.com/marios-stam/drone_path_planning.git
[submodule "src/catenaries"]
	path = src/catenaries
	url = https://github.com/marios-stam/catenaries.git

[submodule "src/crazyflie_ros"]
	path = src/crazyflie_ros
	url = ./src/crazyflie_ros

[submodule "src/drones_control"]
	path = src/drones_control
	url = https://github.com/marios-stam/drones_control.git
	
[submodule "src/drones_rope_planning"]
	path = src/drones_rope_planning
	url = https://github.com/marios-stam/drones_rope_planning.git
[submodule "src/libviconstream"]
	path = src/libviconstream
	url = https://github.com/LTU-RAI/libviconstream.git
[submodule "src/ros_viconstream"]
	path = src/ros_viconstream
	url = https://github.com/LTU-RAI/ros_viconstream.git
