/.vscode
build
devel

# src/libviconstream
# src/ros_viconstream
logs
.catkin_tools


*.pyc
src/execution/scripts/hummingbird3.py
src/execution/scripts/open_gen.py

src/execution/scripts/MAV*

bags/05-23/*
bags/05-25/*
bags/05-27/*
bags/05-28/*
