<?xml version="1.0"?>
<launch>
	<arg name="visual" value="1" />	
	
	<group ns="planning" >
		<rosparam command="load" file="$(find drone_path_planning)/config/prob_definitiion.yaml" />
	</group>
	
	<!-- <node name="start_path_planner" pkg="execution" type="planner_start.py" output="screen"/> -->

	<node name="path_planner" pkg="drone_path_planning" type="rigidBodyPath.py" output="screen"/>
	
</launch>
