<?xml version="1.0"?>
<launch>
	<arg name="visual" value="1" />	
	
	<arg name="cf_leader_name" value="demo_crazyflie10" />
	<arg name="cf_follower_name" value="demo_crazyflie9" />
	
	<param name="cf_leader_name" type="string" value="$(arg cf_leader_name)" />
	<param name="cf_follower_name" type="string" value="$(arg cf_follower_name)" />

	<group ns="planning" >
		<rosparam command="load" file="$(find drone_path_planning)/config/prob_definitiion.yaml" />
	</group>
	
	<node name="start_path_planner" pkg="execution" type="planner_start.py"    output="screen"/>
	<node name="path_planner" pkg="drone_path_planning" type="planner_live.py" output="screen" />
	
	<node name="traj_generator" pkg="drone_path_planning" type="drones_traj_generator.py" />
	<node name="pols_generator" pkg="drone_path_planning" type="drones_pols_generator.py" />

  	<!-- <include file="$(find execution)/launch/Rviz.launch" if="$(arg visual)" > -->
	<!-- </include> -->

	
</launch>
