<?xml version="1.0"?>
<launch>
  
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find execution)/launch/test.rviz" output="log"/>

  	<include file="$(find drone_path_planning)/launch/dronesVisual.launch">
	  <!-- all vars that included.launch requires must be set -->
	  <!-- <arg name="hoge" value="fuga" /> -->
	</include>

	<node name="traj_generator" pkg="drone_path_planning" type="drones_traj_generator.py" output="screen"/>
	<node name="pols_generator" pkg="drone_path_planning" type="drones_pols_generator.py" output="screen"/>

	

</launch>
